dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.ps
*.eventlog
.stack-work/
cabal.project.local
docker-compose.yml
.HTF/
/target/
Cargo.lock
**/*.rs.bk

versions of encoderow that didn't work.hs
.DS_Store
